<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"
    default-lazy-init="true">

    <!-- START SNIPPET: genericPersonDao --><!--
    <bean id="personDao" class="org.appfuse.dao.hibernate.GenericDaoHibernate">
        <constructor-arg value="org.appfuse.tutorial.model.Person"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    --><!-- END SNIPPET: genericPersonDao -->

    <!-- START SNIPPET: personDao -->
    <bean id="personDao" class="org.appfuse.tutorial.dao.hibernate.PersonDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- END SNIPPET: personDao -->
    <!-- Add new DAOs here -->

    <!-- Add new Managers here -->

    <!-- Add new Actions here -->
</beans>
