<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="personManager" class="org.appfuse.service.impl.GenericManagerImpl">
        <constructor-arg>
            <bean class="org.appfuse.dao.hibernate.GenericDaoHibernate" autowire="byType">
                <constructor-arg value="org.appfuse.tutorial.model.Person"/>
            </bean>
        </constructor-arg>
    </bean>

    <bean class="org.appfuse.dao.spring.HibernateExtensionPostProcessor">
        <property name="annotatedClasses">
            <list>
                <value>org.appfuse.tutorial.model.Person</value>
            </list>
        </property>
    </bean>
</beans>
