<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="personDao" class="org.appfuse.tutorial.dao.hibernate.PersonDaoHibernate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="personManager" class="org.appfuse.service.impl.GenericManagerImpl">
        <constructor-arg ref="personDao"/>
    </bean>

    <bean class="org.appfuse.dao.spring.HibernateExtensionPostProcessor">
        <property name="annotatedClasses">
            <list>
                <value>org.appfuse.tutorial.model.Person</value>
            </list>
        </property>
    </bean>

    <bean id="personAction" class="org.appfuse.tutorial.webapp.action.PersonAction" scope="prototype">
        <property name="personManager" ref="personManager"/> 
    </bean>
</beans>
